/*클릭했을 때 테두리 생기는 것 방지*/
*:focus {
    outline: none;
}
header {
    text-align: center;
}
#loginBtn {
    float: right;
    margin-top: 10px;
    margin-right: 10px;
}
#main_logo {
    width: 500px;
    height: 350px;
}
section {
    text-align: center;
    margin-top: 30px;
}
.categoryImage {
    width: 100px;
    height: 100px;
    vertical-align: middle;
}
.category {
    display: inline-block;
    width: 150px;
    height: 150px;
    line-height: 150px;
    border: 3px solid lightgray;
    border-radius: 30px;
    background-color: white;
    text-align: center;
    margin: 20px;
}
.category:hover {
    border-color: black;
}
#carousel_div {
    width: 80%;
    border: solid 1px black;
    text-align: center;
    align-items: center;
}
.login-modal{
    position: absolute;
    overflow:hidden;
    background-color: white;
    width: 400px;
    height: 500px;
    top: 15%;
    bottom: 15%;
    left: 10%;
    right: 10%;
    padding: 15px;
    margin: 0 auto;
    border-radius: 20px;
}
.login-modal-logo{
    float: center;
}
.login-input-id{
    text-align: center;
}
.login-input-passw{
   text-align: center;
}
.login-back-btn, .login-btn{
    margin-top: 30px;
    cursor: pointer;
}

.empty{
    height: 1000px;
}
.container {
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
